<div class="container-fluid tentang-kami" id="tentang">
	<div class="col-md-5 col-sm-5 backup-img-company" data-aos="flip-right">
		<img src="images/pc-barista.jpg" class="img-responsive img-company" alt="">
	</div>

	<div class="col-md-7 col-sm-7">

		<div class="backup-title-about">
			<p class="title-about" data-aos="fade-down">
				Fine Robusta Kopi Trading Platform
			</p>
			<div data-aos="fade-up">
				<h2 class="word-about xs-word-set">
					Boosting efficiency by digitalizing coffee from cherry beans to green beans
				</h2>

				<p class="isi-content-layanan">
					The BENCOOLEN Coffee brand perusahaan yang didirikan untuk membantu pemerintah dalam meningkatkan kesejahteraan petani. Usaha ini membantu pemerintah dalam mengembangkan dan mengelola kopi dari hulu ke hilir dan membuatnya lebih mudah bagi pemerintah untuk mengontrol hasil perkebunan kopi. The BENCOOLEN Coffee mengelola kopi berkualitas dan jujur untuk menarik konsumen yang akan membeli kopi petani sesuai dengan mekanisme yang dikelola oleh The BENCOOLEN Coffee.
				</p>


			</div>
		</div>
	</div>
</div>