<!-- hero image -->
<div class="bgimage" id="home">
	<div class="container bg-hero">
		<div class="row">
			<div class="col-md-12 col-sm-12 definition">

				<h1 class="title-brand">Bencoolen coffee</h1>
				<p class="sekilas-content">Mari bergabung bersama kami dengan mengikuti pelatihan menjadi barista atau berwirausaha di bidang kopi</p>
				
				<p class="backup-btn-get-started">
					<a class="btn-get-started" href="#">
						Get started
					</a>
				</p>

			</div>
		</div>
	</div>
</div>
<!-- hero image -->