<div class="container-fluid platform no-mt-blog">
	<div class="col-md-12">

		<!--  -->
		<center class="backup-title-layanan cs-testi-mb" data-aos="zoom-in">
			<span class="title-about mini-word">Our Blog</span>
			<h3 class="fsz-cs word-about">
				Seputar Berita
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->
		
		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up" >

			<ol class="breadcrumb" >
				<li><a href="#" class="list">Tips Kopi</a></li>
				<li><a href="#" class="list">August 14, 2018</a></li>
				<li><a href="#" class="list">Bencoolen</a></li>
			</ol>	

			<img src="images/berita-1.jpg" class="img-responsive img-blog" alt="platform kami">
			
			<p class="name-platform cs-title-blog">
				BELAJAR SEDUH KOPI DI RUMAH, PAHAMI JUGA PROSES EKSTRAKSI KOPI
			</p>

			<p class="isi-content-choose capt-platform cs-mt-blog">
				Menemukan seduhan kopi terbaik, selain biji kopi yang digunakan tetap segar, air seduhan juga dalam keadaan baik untuk dapat mengekstraksi potensi rasa dari biji kopi...
			</p>

			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up" >

			<ol class="breadcrumb" >
				<li><a href="#" class="list">News, Tips Kopi</a></li>
				<li><a href="#" class="list">April 22, 2018</a></li>
				<li><a href="#" class="list">Bencoolen</a></li>
			</ol>	

			<img src="images/berita-2.jpeg" class="img-responsive img-blog" alt="platform kami">
			
			<p class="name-platform cs-title-blog">
				INTERNASIONALISASIKAN BRAND BENCOOLEN COFFEE
			</p>

			<p class="isi-content-choose capt-platform cs-mt-blog">
				Upaya pemerintah provinsi dalam meningkatkan pariwisata Bengkulu agar terkenal hingga mancanegara melalui peningkatan kopi lokal Bengkulu terus digalakkan. Upaya tersebut salah satunya dilakukan dengan cara..
			</p>

			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up" >

			<ol class="breadcrumb" >
				<li><a href="#" class="list">News</a></li>
				<li><a href="#" class="list">September 11, 2017</a></li>
				<li><a href="#" class="list">Bencoolen</a></li>
			</ol>	

			<img src="images/berita-3.jpg" class="img-responsive img-blog" alt="platform kami">
			
			<p class="name-platform cs-title-blog">
				Komunitas Kopi Galang Aksi 1 Juta Cup Kopi Jujur Gratis untuk Tenaga Medis
			</p>

			<p class="isi-content-choose capt-platform cs-mt-blog">
				JAKARTA – Wabah pandemi virus corona (Covid-19) telah mengubah kehidupan banyak negara, termasuk Indonesia. Komunitas Kopi Jujur menggalang aksi peduli Satu Juta Cup Kopi...
			</p>

			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>

		</div>
		<!--  -->

	</div>
</div>