<div class="container-fluid">
	<div class="col-md-12">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join" data-aos="zoom-in" style="margin-bottom: 40px;">
			<span class="title-about mini-word">Event Sosial</span>
			<h3 class="fsz-cs word-about">
				KopiJujur.id
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->

	</div>
	
	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-1.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">Aksi Satu Juta cup KOPI JUJUR Gratis</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-2.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">AKSI KOPI JUJUR LAWAN CORONA DAPAT DONASI LAGU BUKA HATIMU DUNIA DARI VOKALIS ELEMENT BAND</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-3.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">AIR ASIA DONASI 1.000 CUP DAN 25 BAG ROASTED BEAN DUKUNG AKSI 1 JUTA CUP KOPI JUJUR</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-4.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">Support 250 Cup Kopi, Jahe Merah Gula Aren, dan Roti di RSPI Sulianti Saroso</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-5.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">Para Petugas TNI Rela Meninggalkan Istri dan Anak Demi Menjaga Wisma Atlet</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 backup-card-port" data-aos="fade-up">
		<div class="portfolio">
			<div class="portfolio-overlay"></div>
			<img class="portfolio-image" src="images/gambar-6.jpg" class="img-responsive">
			<div class="portfolio-details fadeIn-bottom">
				<h3 class="portfolio-title"><a href="">KOPI JUJUR LAWAN CORONA BERSAMA PMI AJAK WARGA JAKARTA DONOR DARAH 20 APRIL 2020</a></h3>
				<div class="backup-portfolio-text">
					<p class="portfolio-text" align="center">
						Even / 2020 / Jakarta
					</p>
				</div>
			</div>
		</div>
	</div>

</div>