<div class="mt-cs-wave-footer">
	<img src="images/wave-footer.svg" class="img-responsive" alt="">
</div>
<div class="container-fluid footer">
	<br class="hidden-sm hidden-md hidden-lg">
	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Tentang kami</h3>
		<p class="isi-content-layanan cs-sub-footer cs-media-content">The BENCOOLEN Coffee brand perusahaan yang didirikan untuk membantu pemerintah dalam meningkatkan kesejahteraan petani. Usaha ini membantu pemerintah dalam mengembangkan dan mengelola kopi dari hulu ke hilir dan membuatnya lebih mudah bagi pemerintah untuk mengontrol hasil perkebunan kopi.</p>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Platform</h3>
		<div class="isi-content-layanan cs-list-footer cs-sub-footer cs-media-content">

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>Produk Kopi</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Pelatihan Barista</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>Paket Kemitraan</span>
			</li>

		</div>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Kontak Kami</h3>
		<div class="isi-content-layanan cs-list-footer cs-media-content">
			<p class="isi-content-layanan cs-sub-footer cs-media-content">Apakah anda mempunyai pertanyaan ?<br>
			Anda dapat menghubungi kontak kami dibawah ini baik menghubungi lewat whatsapp atau email kami.</p>

			<p class="main-flex">
				<a href="#">
					<i class="fas fa-map-marker-alt"></i>
					<span>Pulomas Office Park. Jakarta Timur
					</span>
				</a>
			</p>
			
			<p class="main-flex">
				<a href="mailto:contact@bencoolencoffee.com">
					<i class="far fa-envelope"></i>
					<span>contact@bencoolencoffee.com</span>
				</a>
			</p>

			<p class="main-flex">

				<a href="#">
					<i class="fab fa-whatsapp"></i><span>+62 21 22472776</span>
				</a>

			</p>

		</div>
	</div>
	<div class="col-md-12 backup-last-copyright">
		<p class="last-copyright text-center">
			© Copyright Simetriz 2019. All Rights Reserved
		</p>
		<p class="last-copyright text-center">
			Made with<i class="fas fa-heart"></i>Muhammad Farhan
		</p>
	</div>
</div>