<img src="images/wave-atas.svg" class="img-responsive" alt="">
<div class="container-fluid works">
	<div class="col-md-12 sub-slide-project">

		<!--  -->
		<center class="backup-title-layanan cs-testi-mb" data-aos="zoom-in">
			<span class="title-about mini-word">Mari Bergabung</span>
			<h3 class="fsz-cs word-about">
				Dengan Kami
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->

		<p class="word-join" data-aos="zoom-in">
			Mari berbisnis bersama kami dengan mendaftar sebagai mitra usaha di Bencoolen Coffee

		</p>

		<p class="backup-btn-get-started text-center" data-aos="fade-up">
			<a class="btn-get-started cs-btn-join" href="#">
				Kontak Kami
			</a>
		</p>

	</div>
</div>
<img src="images/wave-bawah.svg" class="img-responsive" alt="">