<div class="container-fluid platform" id="platform">
	<div class="col-md-12">

		<!--  -->
		<div class="col-md-12 backup-title-layanan custom-mt-join" data-aos="fade-down">
			
			<span class="title-about mini-word">Our Specialization</span>
			<h3 class="word-about">
				Fine Robusta Kopi Trading Platform
			</h3>

		</div>
		<!--  -->
		
		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up">
			<p class="name-platform">Produk Kopi</p>

			<img src="images/produk-kopi.jpg" class="img-responsive img-platform" alt="platform kami">

			<p class="isi-content-choose capt-platform">
				Fine Robusta 100% dengan double sortasi/pemilahan sehingga tidak terdapat kecacatan pada fisik kopi yang akan menghasilkan rasa-rasa tidak menyenangkan dalam cup...
			</p>
			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>
		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up">
			<p class="name-platform">Pelatihan Barista</p>

			<img src="images/pelatihan-barista.jpg" class="img-responsive img-platform" alt="platform kami">

			<p class="isi-content-choose capt-platform">
				Pelatihan adalah misi kami dalam memberikan wawasan dan pengetahuan dalam bidang meracik kopi.
			</p>
			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>
		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-4 col-sm-4 card-platform" data-aos="fade-up">
			<p class="name-platform">Paket Kemitraan</p>

			<img src="images/mitra.jpg" class="img-responsive img-platform" alt="platform kami">

			<p class="isi-content-choose capt-platform">
				Kami membuka kesempatan bagi para masyarakat untuk membuka usaha dibidang kopi.
			</p>
			<p class="backup-btn-get-started">
				<a class="read-more" href="">
					Selengkapnya..
				</a>
			</p>
		</div>
		<!--  -->

	</div>
</div>