	<div class="container-fluid slide-testi" id="testimonial">
		<div class="col-md-12 sub-slide-testi">
			
			<!--  -->
			<center class="backup-title-layanan cs-testi-mb mt-xs-platform" data-aos="zoom-in">
				<span class="title-about mini-word">Testimonials</span>
				<h3 class="fsz-cs word-about">
					Apa yang mereka katakan ?
				</h3>
				<img src="images/border-divider.svg" class="img-responsive" alt="">	
			</center>
			<!--  -->

			<div class="slider responsive-1">


				<!-- loop untuk testimonial --> 
				<div class="backup-testimonial-card">
					<div class="testimonial-card">
						<p class="icon-lets-join">
							<i class="fas fa-quote-left"></i>
						</p>
						<p class="content-testimonial">
							Terimakasih Bencoolen sudah membantu para petugas medis berupa pembagian kopi jujur. Mantap.
						</p>
						<p class="icon-lets-join cs-lets-join">
							<i class="fas fa-quote-right"></i>
						</p>
					</div>
					<div class="testi-person">
						<img src="images/testi-1.png" class="img-responsive" alt="">
					</div>
					<div class="testi-person-detail">
						<h4 class="person-name">Arief</h4>
						<p class="person-star">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
				<!-- loop untuk testimonial -->

				<!-- loop untuk testimonial --> 
				<div class="backup-testimonial-card">
					<div class="testimonial-card">
						<p class="icon-lets-join">
							<i class="fas fa-quote-left"></i>
						</p>
						<p class="content-testimonial">
							BencoolenCoffee memiliki pelatihan dalam menciptakan usaha dibidang kopi dan barista, pelatihan yang diberikannya berbeda dengan pelatihan biasa yang lebih diarahkan ke teori dibandingkan praktek. Senang sekali bisa belajar bersama BencoolenCoffee
						</p>
						<p class="icon-lets-join cs-lets-join">
							<i class="fas fa-quote-right"></i>
						</p>
					</div>
					<div class="testi-person">
						<img src="images/testi-2.png" class="img-responsive" alt="">
					</div>
					<div class="testi-person-detail">
						<h4 class="person-name">Jeremy</h4>
						<p class="person-star">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
				<!-- loop untuk testimonial -->

				<!-- loop untuk testimonial --> 
				<div class="backup-testimonial-card">
					<div class="testimonial-card">
						<p class="icon-lets-join">
							<i class="fas fa-quote-left"></i>
						</p>
						<p class="content-testimonial">
							BencoolenCoffe membantu kami dalam penyediaan dan suplay kopi sesuai dengan keinginan Pelanggan dan memberikan kualitas kopi yang sangat baik dengan harga dibawah harga pasar. Mantaf Bencoolen
						</p>
						<p class="icon-lets-join cs-lets-join">
							<i class="fas fa-quote-right"></i>
						</p>
					</div>
					<div class="testi-person">
						<img src="images/testi-1.png" class="img-responsive" alt="">
					</div>
					<div class="testi-person-detail">
						<h4 class="person-name">Alvin</h4>
						<p class="person-star">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
				<!-- loop untuk testimonial -->

			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.responsive-1').slick({
        // dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        prevArrow: $('.prev-1'),
        nextArrow: $('.next-1'),
        responsive: [{
        	breakpoint: 1024,
        	settings: {
        		slidesToShow: 2,
        		slidesToScroll: 1,
                // centerMode: true,

            }

        }, {
        	breakpoint: 800,
        	settings: {
        		slidesToShow: 2,
        		slidesToScroll: 2,
        		dots: true,
        		infinite: true,

        	}


        }, {
        	breakpoint: 600,
        	settings: {
        		slidesToShow: 1,
        		slidesToScroll: 2,
        		dots: true,
        		infinite: true,

        	}
        }, {
        	breakpoint: 480,
        	settings: {
        		slidesToShow: 1,
        		slidesToScroll: 1,
        		dots: true,
        		infinite: true,
        		autoplay: true,
        		autoplaySpeed: 2000,
        	}
        }]
    });

		});
	</script>