<img src="images/wave-atas.svg" class="img-responsive" alt="">
<div class="container-fluid works">
	<div class="col-md-12 sub-slide-project">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join mt-xs-platform" data-aos="zoom-in">
			<span class="title-about mini-word">Fine Robusta Kopi</span>
			<h3 class="fsz-cs word-about">
				 Trading Platform
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->
		
		<!--  -->
		<div class="col-md-3 col-sm-3 card-works text-center" data-aos="fade-up">

			<h1 class="total-hitung count">120</h1>
			<p class="big-title-layanan mt-total-25">Pengalaman</p>
			<p class="sec-hitung-total">Usaha Kopi</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-3 card-works text-center" data-aos="fade-up">

			<h1 class="total-hitung count">150</h1>
			<p class="big-title-layanan mt-total-25">Mitra</p>
			<p class="sec-hitung-total">Usaha</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-3 card-works text-center" data-aos="fade-up">

			<h1 class="total-hitung count">80</h1>
			<p class="big-title-layanan mt-total-25">Jaringan</p>
			<p class="sec-hitung-total">Kedai Kopi</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-3 card-works text-center" data-aos="fade-up">

			<h1 class="total-hitung count">60</h1>
			<p class="big-title-layanan mt-total-25">Pelatihan</p>
			<p class="sec-hitung-total">Barista</p>

		</div>
		<!--  -->


	</div>
</div>
<img src="images/wave-bawah.svg" class="img-responsive" alt="">

<script src="js/count.js"></script>	