<div class="container-fluid">
	<div class="col-md-12">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join" data-aos="zoom-in">
			<span class="title-about mini-word">Why</span>
			<h3 class="fsz-cs word-about">
				Mengapa memilih kami ?
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->
		
		<div class="container-fluid card-services">

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up" id="style-1">
					<div class="title-service">
						<p><img src="images/stok.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Stock Kopi</p>
						<p class="isi-content-choose">
							Jaminan pasokan kopi berasal dari Bengkulu dan provinsi kain penghasil Kopi berkualitas di Indonesia
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up" id="style-1">
					<div class="title-service">
						<p><img src="images/kualitas-kopi.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Kualitas Kopi</p>
						<p class="isi-content-choose">
							The BENCOOLEN Coffee memiliki pengalaman pengelolaan dan proses kopi,
							hal ini memberikan jaminan kualitas kopi.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up" id="style-1">
					<div class="title-service">
						<p><img src="images/pelatihan.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Pelatihan dan Usaha Kopi</p>
						<p class="isi-content-choose">
							Memiliki pusat pelatihan Barista dan Usaha Skala kecil guna mencetak peracik kopi terampil dan wirausaha kopi.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up" id="style-1">
					<div class="title-service">
						<p><img src="images/marketing.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Pemasaran kopi</p>
						<p class="isi-content-choose">
							Kami memiliki macam paket usaha kemitraan dan supply bubuk kopi serta pendampingan usaha kopi.
						</p>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>