<img src="images/wave-atas.svg" class="img-responsive" alt="">
<div class="container-fluid works">
	<div class="col-md-12 sub-slide-project">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join mt-xs-platform" data-aos="zoom-in">
			<span class="title-about mini-word">How It Work</span>
			<h3 class="fsz-cs word-about">
				Kopi Blockchain
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-6 text-center card-works text-center" data-aos="fade-up">
			
			<p class="">
				<img src="images/kualitas-kopi.svg" class="works-icon" width="65" height="65" alt="">
			</p>
			<p class="big-title-layanan mt-works">Sumber Kopi</p>
			<p class="isi-content-choose capt-platform tc-xs">
				Kopi kami berasal dari petani kopi Bengkulu sebagai penghasil biji Fine Kopi Robusta terbaik di dunia
			</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-6 text-center card-works text-center" data-aos="fade-up">
			
			<p class="">
				<img src="images/process.svg" class="works-icon" width="65" height="65" alt="">
			</p>
			<p class="big-title-layanan mt-works">Pengolahan Kopi</p>
			<p class="isi-content-choose capt-platform tc-xs">
				Pengolahan paska panen kopi menjadikan perhatian utama kami sehingga menghasilkan greenbean berkualias dan terjaga mutunya
			</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-6 text-center card-works text-center" data-aos="fade-up">
			
			<p class="">
				<img src="images/folder.svg" class="works-icon" width="65" height="65" alt="">
			</p>
			<p class="big-title-layanan mt-works">Penyimpanan Kopi</p>
			<p class="isi-content-choose capt-platform tc-xs">
				Kopi yang sudah diproses akan disimpan di resi gudang yang terkontrol dan terminitor agar kopi tidak rusak sebelum pengiriman ke distibusi dan agen kopi.
			</p>

		</div>
		<!--  -->

		<!--  -->
		<div class="col-md-3 col-sm-6 text-center card-works text-center" data-aos="fade-up">
			
			<p class="">
				<img src="images/marketing.svg" class="works-icon" width="65" height="65" alt="">
			</p>
			<p class="big-title-layanan mt-works">Penjualan Kopi</p>
			<p class="isi-content-choose capt-platform tc-xs">
				Kami memberikan harga yang kompetitif dengan tetap menjaga kualitas kopi dan proses pengiriman yang cepat
			</p>

		</div>
		<!--  -->

	</div>
</div>
<img src="images/wave-bawah.svg" class="img-responsive" alt="">